.destination .container{
    display: flex;
    width: 80vw;
    margin: 0 auto;
    justify-content: space-between;
}

.destination .container .images{
    width: 48%;
    display: flex;
    justify-content: space-between;
}

.destination .container .images img{
    width: 200px;
}

.destination .texts{
    width: 48%;
}

.destination .container.reverse{
    flex-direction: row-reverse;
}